input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color:#94C634 !important;
}
.MuiFormLabel-root.Mui-focused{
    color:#94C634 !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after{
    border-bottom: 2px solid #94C634 !important;
}
.MuiInput-underline:after{
    border-bottom: 2px solid #94C634 !important;
}